APP_NAME=Scanner API
APP_VERSION=1.0.0
DEBUG=false

DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

SECRET_KEY=

ACCESS_TOKEN_EXPIRE_DAYS=300
JWT_ALGORITHM=HS256
JWT_ISSUER=besoft:sxodim

DEFAULT_COUNTRY_CODE=uz
DEFAULT_COUNTRY_ID=1
TIME_ZONE_DIFFERENCE=5
